@model IEnumerable<WebApplication1.Models.Quadrinho>

@{
    ViewData["Title"] = "Home Page";
}

<main>
    <div class="container" id="code_prod_complex">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <figure class="card card-product">
                        <div class="img-wrap"><img src="@item.CaminhoFisicoCapa"></div>
                        <figcaption class="info-wrap">
                            <h4 class="title">@item.Titulo</h4>
                            <p class="desc">@item.Descricao</p>
                            <p class="desc">Quantidade: @item.Quantidade</p>
                            <div class="rating-wrap">
                                <ul class="rating-stars">
                                    <li style="width:80%" class="stars-active">
                                        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                    </li>
                                </ul>
                            </div>
                        </figcaption>
                        <div class="bottom-wrap">
                            <a asp-area="" asp-controller="Carrinhos" asp-action="Index" asp-route-id="@item.IdQuadrinho" class="btn btn-sm btn-primary float-right">ADICIONAR AO CARRINHO</a>
                            <div class="price-wrap h5">
                                <span class="price-new">R$ @item.Preco.ToString("N2")</span>
                            </div>
                        </div> 
                    </figure>
                </div>
            }

        </div>
    </div>
</main>
